/* ------------total-cost --------*/
.one{
    margin-right: 195px;
}
.two{
    margin-right: 111px;
}
.three{
    margin-right: 119px;
}
.four{
    margin-right: 142px;
}
.total{
    margin-right: 194px;
}

/* footer */
.margin{
    margin-bottom: 100px;
}